@import "tailwindcss";

@font-face {
    font-family: "static";
    src: url("/StaticBuzz.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "freesans";
    src: url("/FreeSans.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "freesans";
    src: url("/FreeSansBold.woff2") format("woff2");
    font-style: normal;
    font-weight:700;
    font-display: swap;
}

@font-face {
    font-family: "freesans";
    src: url("/FreeSansBoldOblique.woff2") format("woff2");
    font-style: normal;
    font-weight:700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "lunchtype";
    src: url("/Lunchtype21-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lunchtype";
    src: url("/Lunchtype21-Bold.woff2") format("woff2");
    font-weight:700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "instrument";
    src: url("/InstrumentSerif-Italic.woff2") format("woff2");
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "instrument";
    src: url("/InstrumentSerif-Regular.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
}

.title {
    animation: titlespace 20s ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes titlespace {
    from {
        letter-spacing: 1rem;
    } to {
        letter-spacing: 3rem;
    }
}

.blink {
    animation: blinking 1s infinite;
    animation-direction: alternate;
}

@keyframes blinking {
    0%, 49% {
        opacity: 100%;
    } 50%, 100% {
        opacity: 0%;
    }
}

.hover-underline {
  position: relative;
  cursor: pointer;
}

.hover-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1f1f1f;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}