.hover-underline {
  position: relative;
  cursor: pointer;
}

.hover-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c4cdde;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}

@keyframes glitch {
  0% {
    transform: translate(0);
    filter: hue-rotate(0deg);
  }
  20% {
    transform: translate(-1px, 1px);
    filter: hue-rotate(90deg);
  }
  40% {
    transform: translate(-1px, -1px);
    filter: hue-rotate(180deg);
  }
  60% {
    transform: translate(1px, 1px);
    filter: hue-rotate(270deg);
  }
  80% {
    transform: translate(1px, -1px);
    filter: hue-rotate(360deg);
  }
  100% {
    transform: translate(0);
    filter: hue-rotate(0deg);
  }
}


.dither:hover {
  animation: glitch 0.6s linear;
  animation-iteration-count: infinite;
  box-shadow: 0.7rem 0.7rem 0 black;
}

.project {
  position: relative;
  transition: box-shadow 0.2s ease-out;
  box-shadow: 0.5rem 0.5rem 0 black;
  z-index: 1;
}

.project img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-bottom: 0.4rem solid #c4cdde;
  max-height: 15rem;
}

.link {
  background: #c4cdde;
  font-family: freesans;
  font-weight: 700;
  font-size: 1.5rem;
}

.link svg {
  width: 2rem;
  height: 2rem;
  max-width: 0;
  transition: all 0.3s;
  overflow: hidden;
}

.link:hover svg {
  max-width: 2rem;
}

.link-main:hover {
  padding-right: 0.5rem;
}

.sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 0.5rem);
  height: 5rem;
  background: #414c60;
  border: 0.4rem solid #414c60;
  border-radius: 0 0 0.5rem 0.5rem;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  z-index: 1;
}

.project-wrapper:hover .project{
  z-index: 10;
}

.project-wrapper:hover{
  z-index: 10;
}

.project-wrapper:hover .sidebar {
  transform: translateY(calc(100% - 0.5rem));
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
}

.project-wrapper:hover .sidebar p {
  transform: translate();
}

.sidebar-arrow:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.sidebar-arrow svg {
  height: 2rem;
  color: #c4cdde;
  transform: rotate(90deg);
}