.headings {
  font-family: freesans;
  font-weight: 700;
  font-size: 3rem;
}

.heading {
  opacity: 30%;
  width:vw;
  gap: 1rem;
}

.heading.selected {
  opacity: 100%;
}

.heading.selected p {
  text-decoration-line: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.2rem;

  animation: blinking 0.7s infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 2px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.bounce {
  animation: bounce 1.2s ease-in-out;
  animation-iteration-count: infinite;

}