---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Terminal from "../components/Terminal.astro";
---

<html>
  <head>
    <title>meghana.co - about</title>
  </head>
</html>

<Layout>
  <div
    style="background-image: url('/noise.webp');"
    class="inset-0 bg-center bg-no-repeat bg-cover overflow-x-hidden w-full overflow-h-auto h-full"
  >
    <a
      href="./terminal"
      style="font-family:static"
      class="text-[4em] tracking-[0.7rem] pl-8 text-[#C4CDDE] mt-[1rem] mb-[1rem]"
    >
      about
    </a>

    <div class="flex flex-col sm:flex-row gap-8 justify-center items-center">
      <div
        class="ml-[2rem] mr-[2rem] mb-[2rem] bg-[#C4CDDE] p-[1rem] rounded-xl"
      >
        <p
          style="font-family: freesans; font-weight: 700;"
          class="text-[#414040] md:text-[1.5rem] sm:text-[1rem]"
        >
          hey! I'm Meghana. I'm a 17 year old that spends her free time messing
          around with robots, making PCBs, and failing to write firmware. I love
          <a
            target="_blank"
            href="https://www.google.com/search?q=the+social+network"
            class="hover-underline text-[#de861f]">watching movies</a
          >, <a
            target="_blank"
            href="https://www.formula1.com/en/racing/2025"
            class="hover-underline text-[#de861f]">racing</a
          >, and <a
            target="_blank"
            href="https://hackclub.com"
            class="hover-underline text-[#de861f]">hack club</a
          >
          <br /><br />
          Right now, I'm finishing school and trying to <a
            href="/projects"
            class="hover-underline text-[#de861f]">build cool stuff</a
          >
        </p>
      </div>
      <img
        title="me at the zion narrows (I'm looking at nothing)"
        class="md:w-[30%] sm:w-[30%] w-[70%] mr-[2rem] ml-[2rem] mb-[2rem]"
        src="picture.webp"
      />
    </div>
    <style>
      .hover-underline {
        position: relative;
        cursor: pointer;
      }

      .hover-underline::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #414040;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      .hover-underline:hover::after {
        transform: scaleX(1);
      }
    </style>

    <Terminal />

    <div class="hidden lg:block">
      <Footer />
    </div>
  </div>
</Layout>
