---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/projects.css";
---

<Layout>
  <div
    style="background-image: url('/noise.webp');"
    class="fixed inset-0 bg-center bg-no-repeat bg-cover overflow-y-auto overflow-x-hidden"
  >
    <p
      style="font-family:static"
      class="text-[4em] tracking-[0.7rem] pl-8 text-[#C4CDDE] mt-[1rem]"
    >
      about
    </p>
  </div>
</Layout>
