---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Terminal from "../components/Terminal.astro";

export const prerender = false; // Not needed in 'server' mode

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const command = data.get("input");
    if(command === "back") {  
      return Astro.redirect("/terminal");
    } else if (command === "exit") {
      return Astro.redirect("/");
    } else if (command === "sudo rm -rf /*") {
      console.log("you think you're funny, don't you?");
    }

  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<html>
  <head>
    <title>meghana.co</title>
  </head>
</html>

<Layout>
  <div
    style="background-image: url('/noise.webp');"
    class="fixed inset-0 bg-center bg-no-repeat bg-cover overflow-y-hidden overflow-x-hidden"
  >
    <div class="flex flex-col h-screen justify-between items-center">
      <div class="flex-1 flex items-center mt-[1rem]">
        <p
          style="font-family:static; width:fit-content"
          class="title mx-auto text-[2rem] sm:text-[4rem] tracking-[1.5rem] text-[#C4CDDE]"
        >
          meghana.co
        </p>
      </div>

      <a href="/terminal" class="relative inset-x-0 bottom-0 h-[80%] mx-auto w-full">
        <img src="/TV.webp" class="absolute sm:h-full inset-0 mx-auto z-0" />
		
        <div class="absolute inset-0 flex items-start top-[15%] h-fit lg:top-[25%] md:top-[25%] sm:top-[20%] justify-center z-10">
          <p style="font-family: instrument;" 
          class="blink italic text-[#C4CDDE] text-[3rem] md:text-[5rem] lg:text-[3rem]">click or press <br/> space to start</p>
        </div>
	</a>
    </div>
  </div>

  <Terminal/>
</Layout>

<script>
	document.addEventListener('keydown', (e) => {
		if (e.code === 'Space' || e.key === ' ') {
			window.location.href = '/terminal';
		}
	});
</script>