---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <div
    style="background-image: url('/noise.webp');"
    class="fixed inset-0 bg-center bg-no-repeat bg-cover overflow-y-hidden overflow-x-hidden"
  >
    <div class="flex flex-col h-screen justify-between items-center">
      <div class="flex-1 flex items-center mt-[1rem]">
        <p
          style="font-family:static; width:fit-content"
          class="title mx-auto text-[2rem] sm:text-[4rem] tracking-[1.5rem] text-[#C4CDDE]"
        >
          meghana.co
        </p>
      </div>

      <a href="/terminal" class="relative inset-x-0 bottom-0 h-[80%] mx-auto w-full">
        <img src="/TV.webp" class="absolute sm:h-full inset-0 mx-auto z-0" />
		
        <div class="absolute inset-0 flex items-start lg:top-[25%] md:top-[20%] sm:top-[15%] justify-center z-10">
          <p style="font-family: instrument;" 
          class="blink italic text-[#C4CDDE] text-[3rem]">click or press <br/> space to start</p>
        </div>
	</a>
    </div>
  </div>
</Layout>

<script>
	document.addEventListener('keydown', (e) => {
		if (e.code === 'Space' || e.key === ' ') {
			window.location.href = '/terminal';
		}
	});
</script>