---
import Layout from "../layouts/Layout.astro";
import Dome from "../components/Dome.jsx";
import data from "../data/photodome.json";
import "../styles/global.css";
import Terminal from "../components/Terminal.astro";


const imgs = data.map((img) => ({
  src: `../photodome/${img.src}.webp`,
  alt: img.caption,
}));
---

<html>
  <head>
    <title>meghana.co - photodome</title>
  </head>
</html>

<Layout>
  <div class="fixed inset-0 w-screen h-screen">
    <a href="./terminal" class="text-[3rem] lg:text-[4rem]"
      style="font-family:static !important; z-index: 20; position: fixed; margin-left: 1rem; letter-spacing: 0.7rem; color:#c4cdde;"
    > 
      photodome
  </a>

    <Dome client:load images={imgs} />
  </div>

  <Terminal/>
</Layout>
