---
import Layout from "../layouts/Layout.astro";
import Dome from "../components/Dome.jsx";
import data from "../data/photodome.json";

const imgs = data.map((img) => ({
  src: `../photodome/${img.src}.webp`,
  alt: img.caption,
}));
---

<Layout>
  <div class="fixed inset-0 w-screen h-screen">
    <Dome client:load images={imgs} />
  </div>
</Layout>
