---
import Layout from "../layouts/Layout.astro";
import Dome from "../components/Dome.jsx";

const imgs = await Astro.glob('../photodome/*.webp');
const imgPaths = imgs.map(img => img.default.src);
---

<Layout>
  <div class="fixed inset-0 w-screen h-screen">
    <Dome client:load images={imgPaths} />
  </div>
</Layout>
