---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/projects.css";
import Card from "../components/Card.astro";
import data from "../data/projects.json";
import Footer from "../components/Footer.astro";
import Terminal from "../components/Terminal.astro";
---

<html>
  <head>
    <title>meghana.co - projects</title>
  </head>
</html>

<Layout>
  <div
    style="background-image: url('/noise.webp');"
    class="fixed inset-0 bg-center bg-no-repeat bg-cover overflow-y-auto overflow-x-hidden"
  >
    <div class="pt-2 items-center flex flex-col lg:flex-row justify-between w-full pr-8">
      <a
        href="./terminal"
        style="font-family:static"
        class="text-[4em] tracking-[0.7rem] pl-8 text-[#C4CDDE]"
      >
        projects
      </a>

      <!-- 
        // From Uiverse.io by alexruix
        <label
          class="absolute top-0 right-8 h-8 w-12 cursor-pointer [-webkit-tap-highlight-color:_transparent]"
          for="switch"
        >
          <input
            class="peer sr-only"
            id="switch"
            type="checkbox"
            onclick="toggleDither()"
          />

          <span class="absolute inset-0 m-auto h-2 rounded-full bg-stone-400"
          ></span>

          <span
            class="absolute inset-y-0 start-0 m-auto size-6 rounded-full bg-stone-600 transition-all peer-checked:start-6 peer-checked:[&_>_*]:scale-0"
          >
            <span
              class="absolute inset-0 m-auto size-4 rounded-full bg-stone-300 transition"
            >
            </span>
          </span>
          <p class="text-white text-xs whitespace-nowrap mt-[1.5rem]">
            toggle dither
          </p>
        </label> -->

      <div class="flex flex-row pl-[5%] items-center">
        <div class="mr-2 flex flex-row items-center slide">
          <div
            style="font-family: lunchtype;"
            class="bg bg-black opacity-50 h-full w-fit text-white p-2 rounded-md text-right pointer-events-none"
          >
            filter projects!
          </div>
          <!-- woah a triangle this is so cool -->
          <div
            class="border border-[0.5rem] border-r-transparent border-t-transparent border-b-transparent border-black/50"
          >
          </div>
        </div>

        <div
          class="flex flex-wrap text-right text-balance text-[#C4CDDE] text-[1.5em] gap-[0.4em]"
          style="font-family:lunchtype; font-weight: 700;"
        >
          <p data-filter="all" class="hover-underline">all projects</p>
          <p data-filter="favorites" class="hover-underline">favorites</p>
          <p data-filter="hack club" class="hover-underline">hack club</p>
          <p data-filter="hardware" class="hover-underline">hardware</p>
          <p data-filter="hackathons" class="hover-underline">hackathons</p>
        </div>
      </div>
    </div>

    <a
      href="./terminal"
      class="fixed bottom-[1rem] rounded-[5rem] w-[3rem] aspect-square bg-[#FDC576]
      ml-[1rem] z-5 flex items-center justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="32"
        width="32"
        viewBox="0 0 24 24"
        ><!-- Icon from NRK Core Icons by Norsk rikskringkasting - https://creativecommons.org/licenses/by/4.0/ -->
        <path
          fill="#FFFFFF"
          d="M4.4 7.4L6.8 4h2.5L7.2 7h6.3a6.5 6.5 0 0 1 0 13H9l1-2h3.5a4.5 4.5 0 1 0 0-9H7.2l2.1 3H6.8L4.4 8.6L4 8z"
        ></path></svg
      >
    </a>

    <div class="flex w-screen items-center justify-center mt-4 px-4 mb-[5rem]">
      <div
        id="card-container"
        class="columns-1 md:columns-2 lg:columns-3 gap-[3rem] w-full max-w-[90%] mx-auto"
      >
        {data.map((project) => <Card project={project} />)}
      </div>
    </div>

    <Terminal />
    <Footer />
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      openModal();

      document
        .querySelectorAll(".exit-button, .exit-backdrop")
        .forEach((el) => {
          el.addEventListener("click", (e) => {
            e.preventDefault();
            e.stopPropagation();
            closeModal();
          });
        });
    });

    function openModal() {
      const hash = decodeURIComponent(window.location.hash.substring(1));
      console.log(hash);

      document.querySelectorAll("dialog").forEach((dialog) => {
        if (dialog.id !== hash) {
          dialog.close();
        }
      });

      const modal = document.getElementById(hash) as HTMLDialogElement;
      modal.showModal();
    }

    function closeModal() {
      document.querySelectorAll("dialog").forEach((dialog) => {
        dialog.close();
      });

      if (window.location.hash) {
        history.pushState(
          "",
          document.title,
          window.location.pathname + window.location.search
        );
      }
    }

    window.addEventListener("hashchange", openModal);

    document.querySelectorAll("dialog").forEach((dialog) => {
      dialog.addEventListener("close", () => {
        if (window.location.hash === `#${dialog.id}`) {
          history.pushState("", document.title, window.location.pathname);
        }
      });
    });

    document.addEventListener("keydown", (e) => {
      if (e.key === "Escape") {
        closeModal();
      }
    });

    let userFilters = [""];
    const buttons = document.querySelectorAll("[data-filter]");
    const cards = document.querySelectorAll("[data-filters]");

    buttons.forEach((btn) => {
      btn.addEventListener("click", () => {
        const filter = (btn as HTMLElement).dataset.filter || "";

        if (filter == "all") {
          //I feel like there's definitely a way to make this better but this is working so...
          userFilters = ["all"];
        } else if (filter != "all" && userFilters.includes("all")) {
          userFilters = userFilters.filter((i) => i !== "all");
          userFilters = [filter];
        } else if (userFilters.includes(filter)) {
          userFilters = userFilters.filter((i) => i !== filter); //all these filters are getting confusing
        } else {
          userFilters.push(filter);
        }
        console.log(userFilters);

        buttons.forEach((btn) => {
          btn.classList.remove("selected");
          btn.classList.add("hover-underline");

          if (userFilters.includes(btn.getAttribute("data-filter") || "")) {
            btn.classList.add("selected");
            btn.classList.remove("hover-underline");
          }
        });

        cards.forEach((card) => {
          let cardFilters = (card as HTMLElement).dataset.filters;
          const cardFiltersArray = cardFilters ? cardFilters.split(",") : []; //this is some wizardry
          const cardElement = card as HTMLElement;

          const shouldShow =
            cardFiltersArray.some((i) => userFilters.includes(i)) ||
            userFilters.includes("all");

          const isCurrentlyVisible =
            !cardElement.classList.contains("card-hidden");

          if (shouldShow && !isCurrentlyVisible) {
            cardElement.classList.remove("card-hidden", "card-hiding");
            cardElement.style.display = "block";
            void cardElement.offsetWidth;
            cardElement.classList.add("card-showing");

            setTimeout(() => {
              cardElement.classList.remove("card-showing");
            }, 400);
          } else if (!shouldShow && isCurrentlyVisible) {
            cardElement.classList.remove("card-showing");
            cardElement.classList.add("card-hiding");

            setTimeout(() => {
              cardElement.classList.add("card-hidden");
              cardElement.classList.remove("card-hiding");
              cardElement.style.display = "none";
            }, 400);
          }
        });
      });
    });
  </script>
</Layout>
