---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import "../styles/projects.css";
import Card from "../components/Card.astro";
import data from "../data/projects.json";
---

<Layout>
  <div
    style="background-image: url('./noise.webp');"
    class="fixed inset-0 bg-center bg-no-repeat bg-cover overflow-y-auto overflow-x-hidden"
  >
    <div>
      <div class="pt-2 flex items-center">
        <p
          style="font-family:static"
          class="text-[4em] tracking-[0.7rem] pl-8 text-[#C4CDDE]"
        >
          projects
        </p>
        <div
          class="flex flex-wrap text-right text-balance pl-[20%] pr-8 text-[#C4CDDE] text-[1.5em] gap-[0.4em]"
          style="font-family:lunchtype; font-weight: 700;"
        >
          <p id="projects" onclick="setFilter('projects')" class="hover-underline">
            all projects
          </p>
          <p id="favorites" onclick="setFilter('favorites')" class="hover-underline">
            favorites
          </p>
          <p id="hack club" onclick="setFilter('hack club')" class="hover-underline">
            hack club
          </p>
          <p id="hardware" onclick="setFilter('hardware')" class="hover-underline">
            hardware
          </p>
          <p id="hackathons" onclick="setFilter('hackathons')" class="hover-underline">
            hackathons
          </p>
        </div>
      </div>
    </div>

    <div class="flex w-screen items-center justify-center mt-4 px-4">
      <div id="card-container"
        class="columns-1 md:columns-2 lg:columns-3 gap-[3rem] w-full max-w-[90%] mx-auto"
      >
        {data.map((project) => <Card project={project} />)}
      </div>
    </div>
  </div>

  <script>
    let userFilter = ''

    function setFilter(filter: string) {
      userFilter = filter;
    }

    // function populateCards(filter: string) {
    //   const cardContainer = document.getElementById('card-container');
    //   cardContainer.innerHTML = {data.filter((projects) => projects.filters.includes(filter))
    //     .map((project) => <Card project={project} />)
    //   }
    // }
  </script>
</Layout>
