---
import "../styles/global.css";

const { placeholder = "type back to return to terminal", termPage = false } =
  Astro.props;

  //need to check if it's the terminal page cause then some commands change and there's no back button on mobile
  let noBack = "";
  if(termPage) {
    noBack = "hidden";
  }
---

<a id="backbtn"
  href="./terminal"
  class=`${noBack} lg:hidden fixed bottom-[1rem] rounded-[5rem] w-[3rem] aspect-square bg-[#FDC576]
      ml-[1rem] z-5 flex items-center justify-center`
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="32"
    width="32"
    viewBox="0 0 24 24"
  >
    <path
      fill="#FFFFFF"
      d="M4.4 7.4L6.8 4h2.5L7.2 7h6.3a6.5 6.5 0 0 1 0 13H9l1-2h3.5a4.5 4.5 0 1 0 0-9H7.2l2.1 3H6.8L4.4 8.6L4 8z"
    ></path></svg
  >
</a>

<div id="input-window"
  class="hidden lg:flex fixed bottom-[1rem] h-[3rem] w-fit bg-[#FDC576]
      ml-[1rem] z-10 items-center rounded-[3rem] hover:!opacity-100 transition-opacity"
>
  <form
    autocomplete="off"
  >
    <input
      type="text"
      name="input"
      id="inp"
      placeholder={placeholder}
      class="h-[3rem] focus:outline-none text-[#2b2b2b] m-[1rem] placeholder:italic italic w-[15rem]"
      style="font-family: freesans; font-weight: bold;"
    />
  </form>
</div>

<script>
  //you may be asking: why did you do this janky piece of work instead of defining the frontmatter variables in the script? Well, then the script is executed as inline and that slows stuff down (SSR is my opp) so I'm doing this instead. I feel smart.
  let isTerminalPage = false;
  if(document.getElementById("backbtn")?.classList.contains("hidden")) {
    isTerminalPage = true;
  }

  const pages = ["about", "projects", "contact", "now", "photodome"];
  //document.querySelectorAll("headings").forEach(element => pages.push(element.innerHTML)); I can't use this code cause this isn't in the DOM of the terminal page but I'm keeping this anyway because I'm proud of it.

  const form = document.getElementById("inp") as HTMLInputElement;

  form?.addEventListener("keydown", (e) => {
    if (e.key === "Enter") {
      e.preventDefault();

      const command = form.value.toLowerCase().trim();
      console.log(command);
      form.value = "";

      if (command === "exit") {
        window.location.href = "/";

      } else if (isTerminalPage && pages.find((element) => command === "cd " + element)) {
        //I am a wizard.
        window.location.href =
          "/" + pages.find((element) => command === "cd " + element);

      } else if (!isTerminalPage && (command === "cd ./" || command === "back")) {
        window.location.href = "/terminal";

      } else if (command === "sudo rm -rf /*") {
        console.log("you think you're funny, don't you?");
      }
    }
  });

    let startPos = window.scrollY;

    window.addEventListener("scroll", () => {
      const element = document.getElementById("input-window");
      console.log(window.scrollY);

      if (window.scrollY != startPos && element) {
        element.style.opacity = "0.6"; //lowkey feel like a UX genius with this one guys
      } else if (element) {
        element.style.opacity = "1";
      }
    });
</script>
