---
import "../styles/global.css";

const { placeholder = "type back to return to terminal", noBack = "" } =
  Astro.props;
---

<a
  href="./terminal"
  class=`${noBack} fixed bottom-[1rem] rounded-[5rem] w-[3rem] aspect-square bg-[#FDC576]
      ml-[1rem] z-5 flex items-center justify-center`
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="32"
    width="32"
    viewBox="0 0 24 24"
  >
    <path
      fill="#FFFFFF"
      d="M4.4 7.4L6.8 4h2.5L7.2 7h6.3a6.5 6.5 0 0 1 0 13H9l1-2h3.5a4.5 4.5 0 1 0 0-9H7.2l2.1 3H6.8L4.4 8.6L4 8z"
    ></path></svg
  >
</a>

<div
  id="inp"
  class="hidden lg:flex fixed bottom-[1rem] h-[3rem] w-fit bg-[#FDC576]
      ml-[1rem] z-5 items-center rounded-[3rem] hover:!opacity-100 transition-opacity"
>
  <form method="POST" action={Astro.url.pathname} autocomplete="off" enctype="application/x-www-form-urlencoded">
    <input
      type="text"
      name="input"
      placeholder={placeholder}
      class="h-[3rem] focus:outline-none text-[#2b2b2b] m-[1rem] placeholder:italic italic w-[15rem]"
      style="font-family: freesans; font-weight: bold;"
    />
  </form>
</div>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    let pos = window.scrollY;

    window.addEventListener("scroll", () => {
      const element = document.getElementById("inp");

      if (window.scrollY != pos && element) {
        element.style.opacity = "0.6"; //lowkey feel like a UX genius with this one guys
      } else if (element) {
        element.style.opacity = "1";
      }
    });
  });
</script>
