<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>meghana.co</title>

    <meta name="title" content="meghana.co" />
    <meta name="description" content="check out what meghana's working on" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://meghana.co/" />
    <meta property="og:title" content="meghana.co" />
    <meta property="og:description" content="what's meghana up to?" />
    <meta property="og:image" content="/prev.png" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://meghana.co/" />
    <meta property="twitter:title" content="meghana.co" />
    <meta property="twitter:description" content="what's meghana up to?" />
    <meta property="twitter:image" content="/prev.png" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
